In [3]:
import pandas as pd
data = pd.read_csv('analytic_data2019.csv',header=1)
data.head()
#data.shape  #(3194, 534)
data1 = data.copy()

In [64]:
data0 = pd.read_csv('analytic_data2019.csv',header=0)

1) What steps did you use for exploratory data analysis and subsequent data preparation on this data set? This should address summary statistics and handling of missing data and outliers (3 points)   

2) Are there any noteworthy groupings of counties that have similar health outcomes and behaviors? You should use an unsupervised learning technique like clustering and show how you decided on the number of clusters. (4 points) 

3) What are the five most important factors predicting premature death as shown by this data? In this data set premature death is defined as the number of years of potential life lost before age 75 per 100,000 population. Develop two models (using different supervised learning approaches) to answer this question. Which of the two models do you believe is more accurate and how can you tell? Where would you focus public health efforts to reduce premature deaths in Allegheny County? (7 points)   

4) Visualize the clusters you determined in #2 on a map of the US. (1 point extra credit)

In [4]:
# Can the US be segmented by health and healthy behavior?
'''
 • 3 county identification fields (FIPS, State, County)

'''
data1.dropna(how='all',axis =1,inplace = True)
data1 = data1[data1.state != 'US'] #data.state.nunique() = 52 remove this column # shape = (3193, 381)

In [3]:
data_des = data1.describe().T
data_des.sort_values(by='count')
data_des.head()

,count,mean,std,min,25%,50%,75%,max
statecode,3193.0,30.259004,15.153897,1.0,18.0,29.0,45.0,56.0
countycode,3193.0,101.918572,107.626583,0.0,33.0,77.0,133.0,840.0
fipscode,3193.0,30360.922643,15171.912105,1000.0,18173.0,29175.0,45075.0,56045.0
year,3193.0,2019.000000,0.000000,2019.0,2019.0,2019.0,2019.0,2019.0
county_ranked,3142.0,0.980586,0.137998,0.0,1.0,1.0,1.0,1.0

In [18]:
data_des1 = data3.describe().T
data_des1 = data_des1.sort_values(by='count')
data_des1

In [59]:
data_des1["NA"] = data3.shape[0] - data_des1["count"]
data_des1["lower"] = data_des1["mean"] -data_des1["std"]*3
data_des1["upper"] = data_des1["mean"] -data_des1["std"]*3

data_des1.head()

,count,mean,std,min,25%,50%,75%,max,NA,lower,upper
v148_rawvalue,2260.0,15.104071,6.855626,1.700000,10.500000,14.300000,18.525000,76.800000,933.0,-5.462808,-5.462808
v061_rawvalue,2475.0,190.820727,212.212314,10.400000,75.350000,123.700000,228.450000,2590.200000,718.0,-445.816213,-445.816213
v039_rawvalue,2751.0,18.842675,9.405352,2.806817,12.059569,17.204340,23.693887,92.161854,442.0,-9.373381,-9.373381
v142_rawvalue,2846.0,31.283471,13.264367,0.045076,22.392659,30.618955,39.545160,91.099085,347.0,-8.509629,-8.509629
v062_rawvalue,2941.0,0.001517,0.001608,0.000000,0.000453,0.001051,0.002047,0.020027,252.0,-0.003308,-0.003308

In [ ]:
data3 = data3.astype("long")

In [41]:
# from scipy.stats import zscore
# data3= data3.mask(~data3.apply(lambda x: zscore(x) < 3, axis=1))

In [26]:
def replace(group, stds):
    group[np.abs(group - group.mean()) > 3 *stds * group.std()] = np.mean
    return group

In [ ]:
data3 = data3.astype("long")

In [35]:
# data3.mask(lambda x :(x-x.mean()).abs()>(3*x.std()) )

In [36]:
df = data3
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

In [53]:
# ((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).sum()

df1 = df[["v001_rawvalue","v002_rawvalue"]]

In [51]:
import pandas as pd   # to manipulate dataframes
import numpy as np   # to manipulate arrays

# a number "a" from the vector "x" is an outlier if 
# a > median(x)+1.5*iqr(x) or a < median-1.5*iqr(x)
# iqr: interquantile range = third interquantile - first interquantile
def outliers(x): 
    return np.abs(x- x.median()) > 1.5*(x.quantile(.75)-x.quantile(0.25))
    
def replace(x):   # x is a vector
    out = x[outliers(x)]
    return x.replace(to_replace = [out.min(),out.max()], 
                value = [np.percentile(x,5),np.percentile(x,95)])

In [55]:
df2 = df1.apply(replace,axis=1)

In [58]:
def outliers(x): 
    return np.abs(x- x.median()) > 1.5*(x.quantile(.75)-x.quantile(0.25))
    
def replace(x):   # x is a vector
    out = x[outliers(x)]
    return x.replace(to_replace = [out.min(),out.max()], 
                value = [np.percentile(x,5),np.percentile(x,95)])

(3193, 2)

In [5]:
data2 = data1.filter(regex=("v[0-9][0-9][0-9]_rawvalue"))
data2.shape #(3193, 105)

(3193, 105)

In [6]:
cutoff = data.shape[0]*0.7
data3 = data2.dropna(thresh= cutoff, axis=1) #(3193, 66)

In [16]:
# data_des1 = data3.describe().T
# data_des1.sort_values(by='count')

# from scipy import stats
# df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

In [ ]:
# %matplotlib inline  
# import matplotlib.pyplot as plt
# data3.hist(bins=50, figsize=(20,15))

In [45]:
data3.head()

,v001_rawvalue,v002_rawvalue,v036_rawvalue,v042_rawvalue,v037_rawvalue,v009_rawvalue,v011_rawvalue,v133_rawvalue,v070_rawvalue,v132_rawvalue,...,v053_rawvalue,v054_rawvalue,v055_rawvalue,v081_rawvalue,v080_rawvalue,v056_rawvalue,v126_rawvalue,v059_rawvalue,v057_rawvalue,v058_rawvalue
1,9917.232898,0.214024,4.400458,4.577367,0.101455,0.215382,0.351,5.8,0.282,0.616496,...,0.164885,0.265209,0.006997,0.014634,0.001075,0.043296,0.655799,0.010748,0.515906,0.409632
2,8824.057123,0.184111,4.200578,4.306739,0.084757,0.191247,0.375,7.2,0.311,0.686775,...,0.151196,0.192545,0.004756,0.012792,0.001045,0.028575,0.744739,0.008285,0.513422,0.420022
3,7224.632160,0.180605,4.098748,4.249649,0.083387,0.167955,0.310,8.0,0.238,0.719710,...,0.199470,0.089532,0.007760,0.011565,0.000687,0.045502,0.830474,0.004545,0.514528,0.422791
4,9586.165037,0.257734,5.067438,4.634994,0.109526,0.215409,0.443,5.6,0.282,0.536257,...,0.188247,0.479422,0.006529,0.004630,0.001860,0.042066,0.459557,0.011993,0.472299,0.677896
5,11783.543675,0.199969,4.363377,4.315710,0.111050,0.199164,0.378,7.6,0.349,0.162514,...,0.160226,0.214576,0.004279,0.002206,0.001147,0.026381,0.742986,0.003943,0.464531,0.683526

In [12]:
import pandas as pd
import numpy as np

from scipy import stats
# data3[(np.abs(stats.zscore(data3)) < 3).all(axis=1)]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in less
  """

Empty DataFrame
Columns: [v001_rawvalue, v002_rawvalue, v036_rawvalue, v042_rawvalue, v037_rawvalue, v009_rawvalue, v011_rawvalue, v133_rawvalue, v070_rawvalue, v132_rawvalue, v049_rawvalue, v134_rawvalue, v045_rawvalue, v014_rawvalue, v085_rawvalue, v004_rawvalue, v088_rawvalue, v062_rawvalue, v005_rawvalue, v050_rawvalue, v155_rawvalue, v021_rawvalue, v069_rawvalue, v023_rawvalue, v024_rawvalue, v044_rawvalue, v082_rawvalue, v140_rawvalue, v043_rawvalue, v135_rawvalue, v125_rawvalue, v124_rawvalue, v136_rawvalue, v067_rawvalue, v137_rawvalue, v147_rawvalue, v127_rawvalue, v144_rawvalue, v145_rawvalue, v060_rawvalue, v061_rawvalue, v139_rawvalue, v083_rawvalue, v039_rawvalue, v143_rawvalue, v003_rawvalue, v122_rawvalue, v131_rawvalue, v063_rawvalue, v065_rawvalue, v142_rawvalue, v148_rawvalue, v153_rawvalue, v154_rawvalue, v051_rawvalue, v052_rawvalue, v053_rawvalue, v054_rawvalue, v055_rawvalue, v081_rawvalue, v080_rawvalue, v056_rawvalue, v126_rawvalue, v059_rawvalue, v057_rawvalue, v058_rawvalue]
Index: []

[0 rows x 66 columns]

In [15]:
# data3[data3.apply(lambda x: np.abs(x - x.mean()) / x.std() < 3).all(axis=1)]

In [ ]:
import pandas as pd   # to manipulate dataframes
import numpy as np   # to manipulate arrays

# a number "a" from the vector "x" is an outlier if 
# a > median(x)+1.5*iqr(x) or a < median-1.5*iqr(x)
# iqr: interquantile range = third interquantile - first interquantile
def outliers(x): 
    return np.abs(x- x.median()) > 1.5*(x.quantile(.75)-x.quantile(0.25))
    
def replace(x):   # x is a vector
    out = x[outliers(x)]
    return x.replace(to_replace = [out.min(),out.max()], 
                value = [np.percentile(x,50),np.percentile(x,50)])

In [ ]:
# find na index
# index = df3['v001_rawvalue'].index[df3['v001_rawvalue'].apply(np.isnan)]
# df_index = df3.index.values.tolist()
# [df_index.index(i) for i in index]

In [2]:
import sys

In [3]:
sys.executable

'/anaconda3/bin/python'

In [4]:
sys.path

['',
 '/anaconda3/lib/python36.zip',
 '/anaconda3/lib/python3.6',
 '/anaconda3/lib/python3.6/lib-dynload',
 '/anaconda3/lib/python3.6/site-packages',
 '/anaconda3/lib/python3.6/site-packages/aeosa',
 '/anaconda3/lib/python3.6/site-packages/IPython/extensions',
 '/Users/yaohanjiang/.ipython']

In [4]:
jupyter kernelspec list

/anaconda3/share/jupyter/kernels/python3

SyntaxError: invalid syntax (<ipython-input-4-68dcfb427789>, line 1)

In [5]:
which jupyter

SyntaxError: invalid syntax (<ipython-input-5-94372049b64a>, line 1)